<h1>离谱 Discordance</h1>
<h3>离谱 Discordance 是一档以中文为主的播客，专注于观察和讲述宏大叙述之外的，涌动着的生活。主播Liangyu和Yang是两位目前居住在澳洲的社会学毕业生，她们感兴趣的话题包括但不限于：离散、性别、新媒体和流行文化。</h3>
<h3>离谱 Discordance is (mostly) a Mandarin podcast about life stories and social issues falling through the cracks of grand narratives. Our hosts Liangyu and Yang are both sociology graduates living between two countries. Through interviews and round-table discussions, we share with you not-too-mainstream opinions about diaspora, gender, social media and pop culture.
</h3>
