/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: #FFF9F2;
  margin: 0 auto;
}

.vertical-nav {
  height: 100vh;
  width: 17rem;
  position: fixed;
  top: 0;
  left: 0;
}

.page {
  width: calc(100%-17rem);
  margin-left: 17rem;
  padding:0 2rem;
}

.logo img {
  width: 9rem;
  height: 9rem;
}

.vertical-nav .nav-link {
  font-family: 'Roboto Slab', serif;
  margin-left: 4.5rem;
  color:#0c0c0c;
  width:50%;
  padding-right:0;
}

.vertical-nav .nav-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E %3Cpath fill='none' stroke='%23453886' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 15%;
  border-bottom: 0;
  text-decoration: none;
}

.userbar * {
  color: #2c3981;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
}

.real-form {
  width:45%;
  margin:0 auto;
}

h1 {
  margin: 2rem 0;
  font-family: 'Alfa Slab One', cursive;
}

form h1 {
  text-align: center;
}

.card-group .card {
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-color: #FFFDFB;
  background-color: #FFFDFB;
}

.card a {
  color:black;
  font-family: Georgia;
  font-weight:bold;
}

.speaker-card h5 {
  text-align: center;
}

.alert-warning {
  width:45%;
  margin:0 auto;
}

.alert-warning h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}
