/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #FFF9F2;
  margin: 0 auto;
}

.vertical-nav {
  height: 100vh;
  width: 17rem;
  position: fixed;
  top: 0;
  left: 0;
}

.page {
  width: calc(100%-17rem);
  margin-left: 17rem;
  padding:0 2rem;
}

.vertical-nav img {
  width: 6rem;
  height: 6rem;
}

.vertical-nav .nav-link {
  margin-left: 2rem;
  color:#0c0c0c;
}

.vertical-nav .nav-link:hover {
  color: #595959;
}

.userbar * {
  color: #2c3981;
}

.real-form {
  width:45%;
  margin:0 auto;
}

h1 {
  margin: 2rem 0;
}

form h1 {
  text-align: center;
}
